config FAR_NFC_T4T
	bool "T4T FAR NFC driver"
	default y
	depends on DT_HAS_FAR_NFC_T4T
	select CONFIG_NFC_NDEF && \
           CONFIG_NFC_NDEF_MSG && \
           CONFIG_NFC_NDEF_RECORD && \
           CONFIG_NFC_NDEF_URI_REC && \
           CONFIG_NFC_NDEF_URI_MSG
	help
	  Enable this option to use T4T FAR NFC driver.
