menuconfig FAR_NFC
	bool "FAR NFC device drivers"
    depends on DT_HAS_FAR_NFC_ENABLED
	help
	  This option enables the FAR NFC custom driver class.

if FAR_NFC

config FAR_NFC_INIT_PRIORITY
	int "FAR NFC device drivers init priority"
	default KERNEL_INIT_PRIORITY_DEVICE
	help
	  FAR NFC device drivers init priority.

module = FAR_NFC
module-str = far_nfc
source "subsys/logging/Kconfig.template.log_config"

rsource "Kconfig.far_nfc_t4t"

endif # FAR_NFC
